@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
    --white: #d8dee9;
    --black: #100f10;
    --dark-grey: #201e21;
    --light-blue: #57a0d9;
    --blue: #1964c8;
    --lighter-blue: #61afef;
    --bright-blue: #51acff;
}

* {
  font-family: "Montserrat";
  user-select: none;
}

body {
  margin: 0;
  background-color: var(--black);
}

code > * {
  font-family: 'JetBrains Mono' !important; 
}

code {
  font-family: 'JetBrains Mono' !important; 
  width: 80%;
  margin: auto;
  background-color: #191b1c !important;
  border-radius: 12px;
  padding: 3% 0 !important;
  color: var(--white);
}

#content {
  width: 80%;
}

.title {
  font-size: 3rem;
  color: var(--white); 
}

.body-text {
  font-size: 1.3rem;
  color: var(--white);
}

.number {
  color: grey !important;
}