:root {
	--white: #d8dee9;
	--black: #100f10;
	--dark-grey: #201e21;
	--light-blue: #57a0d9;
	--blue: #1964c8;
	--lighter-blue: #61afef;
	--bright-blue: #51acff;
}

/* 
  
  https://stackoverflow.com/questions/24990554/how-to-include-a-font-ttf-using-css
 
*/

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/Montserrat-Regular.ttf') format("truetype");
}


#nav {
	position: fixed;
	top: 0;
	width: 100vw;
	  background-color: var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0px 50px;
	z-index: 10;
}

#home {
	color: var(--white);
	font-size: 1.25rem;
	cursor: pointer;
	user-select: none;
}

#ham {
	z-index: 3;
	height: 32px;
	width: 32px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#ham>* {
	transform-origin: center !important;
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--white);
	border-radius: 5px;
	transition: 0.3s all;
}

.top {
	transform: translate(0, 10.66px) rotate(45deg);
}

.fade {
	opacity: 0;
}

.bottom {
	transform: translate(0, -10.66px) rotate(-45deg);
}

#ham-content {
	z-index: 2;
	position: fixed;
	top: 0;
	background-color: var(--dark-grey);
	height: 100vh;
	width: 35%;
	right: -100%;
	display: flex;
	align-items: center;
	transition: right 0.5s;
}

.ham-content-text {
	padding-bottom: 100px;
	opacity: 1;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: opacity 0.2s, left 0.2s;
}

.ham-content-text > * {
	font-size: 1.5rem;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	user-select: none;
	color: var(--white);
	width: max-content;
}

.underline-animation {
	transition: background-size 0.3s;
	background-size: 0% 1px;
	background-position-y: 1.17em;
	background-position-x: 0%;
	background-repeat: no-repeat;
	background-image: linear-gradient(var(--white), var(--white));
}

.underline-animation:hover {
	background-size: 100% 1px;
}


.darken {
	opacity: 0.5 !important;
	visibility: visible !important;
}

#darken {
	z-index: 1;
	background-color: black;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s;
	visibility: hidden;
}

/* https://stackoverflow.com/questions/33264310/in-html-can-i-disable-user-interaction-with-an-entire-dom-sub-tree */

.fade-right {
	opacity: 0 !important;
	left: 70%;
	pointer-events: none;
}

.fade-left {
	opacity: 0 !important;
	left: 20%;
	pointer-events: none;
}