:root {
    --white: #d8dee9;
    --black: #100f10;
    --dark-grey: #201e21;
    --light-blue: #57a0d9;
    --blue: #1964c8;
    --lighter-blue: #61afef;
    --bright-blue: #51acff;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat-Regular.ttf') format("truetype");
}

body {
    margin: 0;
    background-color: var(--black);
    font-family: "Montserrat";
}

#content {
    margin: 4rem auto;
    width: 80%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

#title {
    margin-top: 4rem;
    font-size: 3rem;
    color: var(--white);
    text-align: center;
}

.project {
    height: 300px;
    background-color: rgb(23, 23, 23);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border-width: 2px;
    display: flex;
}

.project-title {
    font-size: 1.25rem;
    color: var(--white);
}

.span-2 {
    grid-column: span 2;
}

.span-1 {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.span-1 > .project-img {
    width: min(140px, 35%);
    margin: auto;
}

.span-1 .project-title {
    margin-top: 0;
}

.span-1 .project-text {
    margin-top: 0;
}

.project-about {
    color: var(--white);
    font-size: 1rem;
}

.project-img {
    width: max(240px, 10%);
    margin: auto 0 auto 1rem;
    margin-left: 1rem;
}

.project-text {
    margin: 2rem 1rem;
}