:root {
    --white: #d8dee9;
    --black: #100f10;
    --dark-grey: #201e21;
    --light-blue: #57a0d9;
    --blue: #1964c8;
    --lighter-blue: #61afef;
    --bright-blue: #51acff;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat-Regular.ttf') format("truetype");
}

body {
    margin: 0;
    background-color: var(--black);
    font-family: "Montserrat";
}

#content {
    margin: 4rem auto;
    width: 80%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, minmax(18.75rem, 1fr));
}

#title {
    margin-top: 4rem;
    font-size: 3rem;
    color: var(--white);
    text-align: center;
}

.project {
    height: 18.75rem;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.project::after {
    background-color: rgba(255, 255, 255, 0.1);
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 10px;
    z-index: -1;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    /* opacity: 0;
    transition: opacity 0.5s;
    background: radial-gradient(250px circle at var(--x) var(--y), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); */
}

.project::before {
    background: radial-gradient(31.25rem circle at var(--x) var(--y), rgba(255, 255, 255, 0.1), transparent 40%);
    border-radius: inherit;
    z-index: 2;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover::before {
    opacity: 1;
}

#content:hover > .project::after {
    opacity: 1;
    background: radial-gradient(15.625rem circle at var(--x) var(--y), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.project-title {
    font-size: 1.25rem;
    color: var(--white);
}

.span-2 {
    grid-column: span 2;
}

.span-1 {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.span-1 > .project-img {
    width: min(8.75rem, 35%);
    margin: auto;
}

.span-1 .project-title {
    margin-top: 0;
}

.span-1 .project-text {
    margin-top: 0;
}

.project-about {
    color: var(--white);
    font-size: 1rem;
}

.project-img {
    width: max(15rem, 10%);
    margin: auto 0 auto 1rem;
    margin-left: 1rem;
}

.project-text {
    margin: 2rem 1rem;
}

#modal {
    /* background-color: var(--dark-grey); */
    background-color: rgb(23, 23, 23);
    height: 70vh;
    width: 70vw;
    border-width: 0;
    border-radius: 12px;
}

#modal::backdrop {
    background-color: black;
    opacity: 0.5;
}