:root {
    --white: #d8dee9;
    --black: #100f10;
    --dark-grey: #201e21;
    --light-blue: #57a0d9;
    --blue: #1964c8;
    --lighter-blue: #61afef;
    --bright-blue: #51acff;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/JetBrainsMono-Regular.ttf') format("truetype");
}

body {
    margin: 0;
    background-color: var(--black);
    font-family: "Montserrat";
    user-select: none;
}

code>* {
    font-family: 'JetBrains Mono' !important;
    user-select: text !important;
}

code {
    font-family: 'JetBrains Mono' !important;
    background-color: #191b1c !important;
    border-radius: 12px;
    padding: 2% 3% 2% 3% !important;
    color: var(--white);
    user-select: text !important;
    overflow-x: intial !important;
}

hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: rgb(102, 101, 101);
    margin: 1% auto;
}

#content {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.code_cont {
    overflow-x: auto;
    scrollbar-color: var(--black) rgba(16, 15, 16, 0.4);
}

.title {
    font-size: 2.5rem;
    color: var(--white);
}

.body-text {
    font-size: 1.3rem;
    color: var(--white);
    user-select: text;
}

.number {
    color: grey !important;
    user-select: none !important;
}

.file-name {
    height: 1rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-name>* {
    margin: 0 0.5rem;
}

.clipboard-svg {
    width: 1.05rem;
    height: 1.05rem;
}

#back-to-top {
    font-size: 1.05rem;
    cursor: pointer;
    color: var(--white);
    width: max-content;
    margin: auto;
    margin-bottom: 4%;
    margin-top: 4%;
    display: grid;
    place-items: center;
}

#top-svg  {
    top: 0.5rem;
    transition: top 0.4s;
    position: relative;
}

#back-to-top:hover > #top-svg {
    top: 0;
}

.hide {
    display: none !important;
}
.hljs-comment {
    font-style: normal !important;
}